.tile__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  
  .tile {
    width: 50vmin;
    flex: 0 0 auto;
  }
  
  .tile__figure {
    margin: 0;
    padding: 0;
  }
  
  .tile__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
  }